<h1>Welcome {{ user.email }}</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis autem exercitationem nemo illo eius a minus repellat
  facilis! Odit cupiditate, quod similique ab aliquam nihil dolorem fugit facere fuga nulla.</p>
